<div class="custom-control custom-checkbox mb-3"></div>
<div class="custom-control custom-checkbox mb-3"></div>
<div class="custom-control custom-checkbox mb-3"></div>
<div class="container row">
    <div class="card-body col-6 offset-4 bg-light" style="border-radius: 10px;">
        <h5 class="card-title text-center">Inicio de Sesión</h5>
        <form class="form">
            <div class="form-label-group">
                <label for="inputEmail">Ingresa tu Correo</label>
                <input [(ngModel)]="email" name="email" type="email" class="form-control" placeholder="" required autofocus>
            </div>
        
            <div class="form-label-group">
                <label for="inputPassword">Contraseña</label>
                <input [(ngModel)]="password" name="password" type="password" class="form-control" placeholder="" required>
            </div>
            <div class="form-group">
                <a href="" data-toggle="modal" data-target="#registrar">Registrarse</a>
            </div>

            <div class="custom-control custom-checkbox mb-3"></div>
          <button class="btn btn-primary btn-block" (click)="ingresar()">Ingresar</button>
        </form>
      </div>
</div>

<!-- Formulario de registro -->
<div class="modal fade" id="registrar" tabindex="-1" role="dialog" aria-labelledby="agregarLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Registro</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="cerrar_añadir">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="username">Nombre de usuario</label>
              <input [(ngModel)]="username" name="username" type="text" class="form-control" id="username" required>
            </div>
            <div class="form-group">
              <label for="email">correo</label>
              <input [(ngModel)]="email" name="email" type="text" class="form-control" id="email" required>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="password">Contraseña</label>
                <input [(ngModel)]="password" name="password" min="1" type="password" class="form-control" id="password" required>
              </div>
              <div class="form-group col-md-6">
                  <label for="password">Repetir contraseña</label>
                  <input [(ngModel)]="password2" name="password2" min="1" type="password" class="form-control" id="password2" required>
                </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning text-white" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" (click)="registrarUsuario()">Registrar</button>
        </div>
      </div>
    </div>
  </div>